
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' -25,
  'opsz' 48
}
nav{
      display: flex;
      justify-content: space-between;
      padding: 20px;
}
.menu-container{
      display: flex;
      align-items: center;
}

.options-container button{
      margin-left: 20px;
}
.icon-container{
      margin-left: 20px;
}